<div class="col-sm-4 col-sm-offset-4">
    <div class="well">
        <h3>Sign Up</h3>
        <form>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Name" ng-model="sign.name">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" ng-model="sign.email">
            </div>
            <div>
                <input type="password" class="form-control" placeholder="Password" ng-model="sign.password">
            </div>
            <button class="btn btn-primary" ng-click="sign.signup()">Submit</button>
        </form>
    </div>
</div>