<div class="col-sm-4 col-sm-offset-4">
    <div class="well">
        <h3>Sign Up</h3>
        <form>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Name" ng-model="signup.name">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" ng-model="signup.email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" ng-model="signup.password">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" ng-click="signup.signup()">Submit</button>
            </div>
        </form>
    </div>
</div>